header{
  width: 21%;
  height: 92.0vh;
  background: black;
  float: left;
  text-align: center;
  font-size: 150%
  font-family: 'Ubuntu', sans-serif;



}


h1{
  font-family: 'Inconsolata', monospace;
  font-size: 6vw;
  margin-top: 0px;
  margin-bottom: 0px;
  color: green





}
p
{
color: green;

}
h2{
  font-size: 3vw;
  color: green;
  font-family: 'Libre Barcode 39 Text', cursive;
}
h3
{
font-size: 100%
color: green;


}

.button{
margin-top: 20%;
font-size: 3vw;
margin-bottom: 10%;
color: green;


}

body{
background: black;
margin-right: 10px;
top: 5px;
align-items: center;
align-self: center;
align-content: center;

}

.left{
  float: left;

  width: 39.5%;

  height: 92.0vh;
  background: Black;
  float: left;

}
.img1{
width: 100%;
float: left;
margin-top: .5%;
margin-left: 1%;

}

.fullWidth{
width: 100vh
float:left;
align: left;
margin-left: .46%;

}
